<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.wpvs.sudo_ku">

    <application
        android:name        = ".MyApplication"
        android:label       = "@string/app_name"
        android:icon        = "@mipmap/ic_launcher"
        android:roundIcon   = "@mipmap/ic_launcher_round"
        android:allowBackup = "true"
        android:supportsRtl = "true"
        android:theme       = "@style/Theme.Sudoku">

        <!-- Start activity / game menu -->
        <activity
            android:name  = ".activity.menu.StartMenuActivity"
            android:label = "@string/start_menu_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Second activity: Choose type of game -->
        <activity
            android:name  = ".activity.menu.NewGameActivity"
            android:label = "@string/new_game_label">

            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.menu.StartMenuActivity"/>
        </activity>

        <!-- Third activity: The game itself -->
        <activity
            android:name  = ".activity.game.GameActivity"
            android:label = "@string/game_label">

            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.menu.StartMenuActivity"/>
        </activity>

        <!-- Fourth activity: Web browser to show man page of a command -->
        <activity
            android:name  = ".activity.browser.HtmlBrowserActivity"
            android:label = "@string/browser_label">

            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.menu.GameActivity"/>
        </activity>
    </application>
</manifest>